<div id="hotel-detail">
        <h2 id="hotel-name"><%= hotel.name %></h2>
        <p id="hotel-country"><%= hotel.cuisine %></p>
        <p id="hotel-address"><%= hotel.address %></p>
        <p id="hotel-description"><%= hotel.description %>!</p>
        <div id="hotel-button">
          <a href="/restaurant/<%=hotel.id%>"><button>View Website</button></a>
        </div>
      </div>