<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
   <div class="product-item__content">
    <h2><%= product.title %></h2>
    <div class="product-item__actions">
        <% if(locals.isAdmin){ %>
        <a class="btn btn-alt" href="/admin/products/<%= product.id %>">View & Edit</a>
        <button class="btn btn-alt"  data-csrf="<%=locals.csrfToken %>" data-id="<%=product.id %>"> Delete</button>
        <% } %>

        <% if(!locals.isAdmin){ %>
            <a  class="btn" href="">View Details</a>    
        <%}%>
    </div>
 </div>
</article>